---
- name: Ensure AirTrail namespace exists
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: airtrail
    state: present
  tags: ["db", "namespace"]

- name: Create PVC for PostgreSQL
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'postgres-pvc.yml') | from_yaml }}"
    wait: true
  tags: ["db", "pvc"]

- name: Deploy PostgreSQL
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'postgres-deployment.yml') | from_yaml }}"
    wait: true
    wait_timeout: 180
  tags: ["db", "deployment"]

- name: Create PostgreSQL service
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'postgres-service.yml') | from_yaml }}"
    wait: true
  tags: ["db", "service"]

